In [1]:
import pandas as pd
import numpy as np

In [2]:
fuel_df = pd.read_excel('fuel_dataF.xlsx')

In [3]:
fuel_df.head(15)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489,16.590000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945,16.592000,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683,24.130000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484,23.950000,47.210,45.990,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533,1.000000,2.770,2.770,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933,23.922000,44.240,43.250,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260,0.064094,28.770,0.000,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133,24.840000,58.540,55.130,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520,24.290000,33.970,34.650,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233,22.484000,28.730,28.110,1.278
10,f1_fuel_1994_12_4_0_2,4,1994,units 1-3,gas,mcf,262720,1.026000,1.940,1.940,13.900
11,f1_fuel_1994_12_4_0_4,4,1994,unit 4,coal,ton,476779,22.428000,28.710,28.110,1.280
12,f1_fuel_1994_12_4_0_5,4,1994,unit 4,gas,mcf,6673,1.026000,1.940,1.940,1.900
13,f1_fuel_1994_12_6_0_1,6,1994,clinch river,coal,ton,1655558,25.038000,30.248,29.019,1.208
14,f1_fuel_1994_12_6_0_2,6,1994,clinch river,oil,bbl,6510,5.875338,32.130,23.444,5.469

In [26]:
fuel_df.groupby('fuel_cost_per_unit_burned').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_unit_burned,,,,,,,,,,
-276.080,f1_fuel_2000_12_194_3_3,194,2000,nelson dewey unit 2,waste,ton,39,0.015500,-174.670,-8.906
-174.670,f1_fuel_2000_12_194_3_6,194,2000,nelson dewey u 1&2,waste,ton,116,0.015500,-174.670,-5.635
-123.310,f1_fuel_2000_12_194_2_15,194,2000,nelson dewey unit 1,waste,ton,77,0.015500,-174.670,-3.978
-119.040,f1_fuel_2003_12_281_1_4,281,2003,sixth street (cont),other,ton,1159,0.012731,-118.340,-5.750
-85.760,f1_fuel_1995_12_194_5_9,194,1995,rock river unit 1,waste,ton,6072,0.013457,-85.640,-3.186
-85.750,f1_fuel_1995_12_194_5_12,194,1995,rock river unit 2,waste,ton,5377,0.013417,-85.640,-3.195
-70.884,f1_fuel_2011_12_27_1_3,27,2011,killen 2 deo,waste,ton,14,0.006721,0.000,-5.273
-59.680,f1_fuel_2002_12_281_1_4,281,2002,sixth street (cont),other,ton,10541,0.012657,-60.290,-3.100
-57.490,f1_fuel_1994_12_194_5_12,194,1994,rock river unit 2,waste,ton,4231,0.014668,-58.800,-1.959
-57.470,f1_fuel_1994_12_194_5_15,194,1994,rock river units 1&2,waste,ton,8881,0.014512,-58.800,-1.980
-57.450,f1_fuel_1994_12_194_5_9,194,1994,rock river,waste,ton,4650,0.014370,-58.800,-2.000
-53.630,f1_fuel_1995_12_194_4_9,194,1995,nelson dewey unit 1,waste,ton,1047,0.013429,-53.560,-1.996
-45.130,f1_fuel_1996_12_194_5_9,194,1996,rock river unit 1,waste,ton,6495,0.013784,-44.050,-1.602
-43.712,f1_fuel_1998_12_121_0_14,121,1998,french island,waste,ton,48302,0.005780,-43.747,-3.781
-42.679,f1_fuel_1995_12_121_0_14,121,1995,french island,waste,ton,47190,0.006042,-42.290,-3.532
-41.501,f1_fuel_1996_12_121_0_14,121,1996,french island,waste,ton,47052,0.006143,-41.501,-41.501
-40.536,f1_fuel_2000_12_121_0_14,121,2000,french island,waste,ton,44446,0.005907,-17.008,-3.431
-39.675,f1_fuel_2002_12_121_0_14,121,2002,french island,waste,ton,39519,0.005602,-40.195,-3.541
-38.966,f1_fuel_1997_12_121_0_14,121,1997,french island,waste,ton,46285,0.005967,-38.972,-3.255
-37.809,f1_fuel_2001_12_121_0_14,121,2001,french island,waste,ton,47995,0.005709,-37.790,-3.312
-35.100,f1_fuel_1994_12_121_0_14,121,1994,french island,waste,ton,51728,0.005846,-35.380,-3.003
-34.858,f1_fuel_2003_12_121_0_14,121,2003,french island,waste,ton,52484,0.006599,-34.846,-2.641
-33.014,f1_fuel_1999_12_121_0_14,121,1999,french island,waste,ton,49094,0.005790,-32.970,-2.851
-31.501,f1_fuel_2005_12_121_0_14,121,2005,french island,waste,ton,53487,0.006038,-31.501,-2.609
-30.032,f1_fuel_2004_12_121_0_14,121,2004,french island,waste,ton,55166,0.006046,-30.035,-2.484
-24.295,f1_fuel_2006_12_121_0_14,121,2006,french island,waste,ton,52529,0.005850,-24.295,-2.076
-7.700,f1_fuel_1997_12_194_5_9,194,1997,rock river unit 1,waste,ton,10738,0.013742,-7.430,-0.333
-7.503,f1_fuel_2002_12_95_0_13,95,2002,big stone continued,other,ton,2667,0.007216,-7.503,-0.520
-7.390,f1_fuel_1997_12_194_2_12,194,1997,edgewater unit 3,waste,ton,6340,0.013500,6.670,-0.274
-3.946,f1_fuel_2016_12_121_0_8,121,2016,french island 1 &2,waste,ton,60054,0.004741,-3.946,-0.416
...,...,...,...,...,...,...,...,...,...,...
48007.000,f1_fuel_2016_12_147_0_13,147,2016,palo verde (1),nuclear,kgU,507,0.066704,2492.000,0.712
48164.000,f1_fuel_1997_12_14_2_5,14,1997,pilgrim,nuclear,kgU,429,44.831496,0.000,0.460
49650.832,f1_fuel_2009_12_7_7_13,7,2009,palo verde 2,nuclear,kgU,426,0.066703,4246.336,0.744
51112.004,f1_fuel_2010_12_7_7_10,7,2010,palo verde 1,nuclear,kgU,420,0.066701,2873.044,0.766
51417.892,f1_fuel_2017_12_7_5_14,7,2017,palo verde 1,nuclear,kgU,476,0.066704,2803.917,0.781
51698.000,f1_fuel_2000_12_210_2_7,210,2000,quad-cities,nuclear,gramsU,299942,111.962673,0.000,0.462
52041.000,f1_fuel_1995_12_14_2_5,14,1995,pilgrim,nuclear,kgU,387,46.233045,0.000,0.440
52389.469,f1_fuel_2011_12_7_8_1,7,2011,palo verde 3,nuclear,kgU,509,0.066707,0.000,0.785
53245.000,f1_fuel_2011_12_147_0_13,147,2011,palo verde (1),nuclear,kgU,493,0.066705,9545.000,0.799
53840.568,f1_fuel_2011_12_7_7_10,7,2011,palo verde 1,nuclear,kgU,430,0.066705,2913.146,0.807
53889.540,f1_fuel_2015_12_7_7_10,7,2015,palo verde 1,nuclear,kgU,501,0.066702,0.000,0.779
54376.000,f1_fuel_1998_12_14_0_1,14,1998,pilgrim,nuclear,kgU,494,58.397347,0.000,0.460
55098.539,f1_fuel_2016_12_7_5_14,7,2016,palo verde 1,nuclear,kgU,454,0.066704,2859.829,0.830
55375.000,f1_fuel_2014_12_147_0_13,147,2014,palo verde (1),nuclear,kgU,509,0.066705,2725.000,0.830
57453.439,f1_fuel_2012_12_7_8_1,7,2012,palo verde 3,nuclear,kgU,456,0.066707,2937.399,0.861
57623.931,f1_fuel_2014_12_7_7_10,7,2014,palo verde 1,nuclear,kgU,457,0.066708,2978.592,0.836
58365.000,f1_fuel_2012_12_147_0_13,147,2012,palo verde (1),nuclear,kgU,504,0.066705,10129.000,0.875
58505.000,f1_fuel_1995_12_117_0_13,117,1995,nine mile 2,nuclear,kgU,273,0.115065,0.000,50.800
58760.000,f1_fuel_2013_12_147_0_13,147,2013,palo verde (1),nuclear,kgU,495,0.066704,9353.000,0.881
59113.631,f1_fuel_2012_12_7_7_10,7,2012,palo verde 1,nuclear,kgU,517,0.066706,0.000,0.886
60523.666,f1_fuel_2013_12_7_7_10,7,2013,palo verde 1,nuclear,kgU,472,0.066706,2926.973,0.907
61619.628,f1_fuel_2013_12_7_7_13,7,2013,palo verde 2,nuclear,kgU,502,0.066706,0.000,0.924
61717.765,f1_fuel_2013_12_7_8_1,7,2013,palo verde 3,nuclear,kgU,438,0.066707,2997.471,0.925
62609.000,f1_fuel_1995_12_117_0_10,117,1995,nine mile 1,nuclear,kgU,434,0.103331,0.000,60.600
64313.100,f1_fuel_2010_12_7_7_13,7,2010,palo verde 2,nuclear,kgU,520,0.066700,0.000,0.964
65137.588,f1_fuel_2012_12_7_7_13,7,2012,palo verde 2,nuclear,kgU,465,0.066706,2958.417,0.976
69785.215,f1_fuel_2011_12_7_7_13,7,2011,palo verde 2,nuclear,kgU,467,0.066704,2834.457,1.046
80459.000,f1_fuel_2014_12_177_2_7,177,2014,howard bend c.t.,oil,bbl,76,5.984286,0.000,13.445
83538.000,f1_fuel_2011_12_132_1_2,132,2011,solway,oil,bbl,150,5.880000,137.172,14.207
139358.000,f1_fuel_2014_12_147_0_2,147,2014,san juan,oil,bbl,49418,6.172572,136410.000,22.577

In [22]:
fuel_df['fuel_cost_per_unit_burned'].describe()

count     29523.000000
mean        208.649031
std        2854.490090
min        -276.080000
25%           5.207000
50%          26.000000
75%          47.113000
max      139358.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [24]:
fuel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29523 non-null object
fuel_qty_burned                 29523 non-null int64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(4), int64(3), object(4)
memory usage: 2.5+ MB

In [23]:
fuel_df.skew(axis=0, skipna=True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [4]:
fuel_df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [5]:
fuel_df.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [6]:
fuel_df[['fuel_unit']] = fuel_df[['fuel_unit']].fillna(value='mcf')

In [7]:
fuel_df.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [8]:
# group by the fuel type code year and print the first entries in all the groups formed
fuel_df.groupby('fuel_type_code_pudl').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,,,,
coal,f1_fuel_1994_12_1_0_7,1,1994,rockport,ton,5377489,16.590000,18.590,18.530,1.121
gas,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,mcf,40533,1.000000,2.770,2.770,2.570
nuclear,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,kgU,2260,0.064094,28.770,0.000,0.450
oil,f1_fuel_1994_12_6_0_2,6,1994,clinch river,bbl,6510,5.875338,32.130,23.444,5.469
other,f1_fuel_1994_12_11_0_6,11,1994,w.f. wyman,bbl,55652,0.149719,14.685,15.090,2.335
waste,f1_fuel_1994_12_9_0_3,9,1994,b.l. england,ton,2438,0.015939,34.180,34.180,1.072

In [9]:
#checking for duplicates
fuel_df.duplicated().any()

False

In [10]:
fuel_df.head(10)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489,16.590000,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945,16.592000,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683,24.130000,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484,23.950000,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533,1.000000,2.77,2.77,2.570
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933,23.922000,44.24,43.25,1.850
6,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,nuclear,kgU,2260,0.064094,28.77,0.00,0.450
7,f1_fuel_1994_12_2_1_10,2,1994,resondent's portion,coal,ton,5372133,24.840000,58.54,55.13,2.360
8,f1_fuel_1994_12_2_2_10,2,1994,respondent's portion,coal,ton,817520,24.290000,33.97,34.65,1.400
9,f1_fuel_1994_12_4_0_1,4,1994,units 1-3,coal,ton,1471233,22.484000,28.73,28.11,1.278

In [12]:
A = [1,2,3,4,5,6]

In [13]:
B = [13,21,34]

In [14]:
A.extend(B)

In [15]:
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [16]:
import numpy as np

In [17]:
N = np.identity(3)

In [18]:
print(N)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]